<footer class="container-fluid" id="footer" role="contentinfo">

    <div class="row">

        <div class="col-md-4 col-md-push-4">
            <p>
                <strong>L'EMBOBINEUSE A BESOIN DE TOI !</strong>
            </p>
            <p>
                <a href="http://www.helloasso.com/associations/l-embobineuse/collectes/embobidon/faire-un-don" target="_blank"
                    class="btn btn-primary btn-donate" style="width: 100%">
                    Fais un don !
                </a>
            </p>
            <p>
                <strong>Et fais tourner le message:</strong>
            </p>
            <p class="btn-group btn-group-justified">
                <a class="btn btn-social btn-facebook" href="https://www.facebook.com/sharer/sharer.php?u=http://lembobineuse.biz/don" target="_blank">
                    Facebook
                </a>
                <a class="btn btn-social btn-twitter" href="https://twitter.com/home?status=L'Embobineuse,%20pilier%20de%20la%20patate,%20sollicite%20vos%20dons%20pour%20ne%20pas%20perdre%20la%20frite%20!%0Ahttp://lembobineuse.biz/don" target="_blank">
                    Twitter
                </a>
                <a class="btn btn-social btn-linkedin" href="https://www.linkedin.com/shareArticle?mini=true&url=http://lembobineuse.biz/don&title=L'Embobineuse,%20pilier%20de%20la%20patate,%20sollicite%20vos%20dons%20pour%20ne%20pas%20perdre%20la%20frite%20!" target="_blank">
                    LinkedIn
                </a>
                <a class="btn btn-social btn-google-plus" href="https://plus.google.com/share?url=http://lembobineuse.biz/don" target="_blank">
                    Google +
                </a>
            </p>
            <p>
                <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                Conformément à la loi du 1er août 2003 relative au mécénat culturel,
                les dons adressés à L'Embobineuse ouvrent droit à une réduction d’impôt
                égale à 66% du montant du don,
                dans la limite annuelle de 20 % du revenu imposable.
                <a href="http://vosdroits.service-public.fr/particuliers/F426.xhtml" target="_blank">
                    Plus d'information ici
                </a>.
            </p>
        </div>

        <div class="col-md-4 col-md-push-4">
            Plan de sauvetage:
            <ul>
                <li>
                    <a href="{{ page('lapelle') }}">La Pelle à Dons</a>
                </li>
                <li>
                    Histoire de la Bobine
                    <ol>
                        <li>
                            <a href="{{ page('bateau-cool') }}">Embobineuse, le bateau cool</a>
                        </li>
                        <li>
                            <a href="{{ page('errorism') }}">Droit à l'erreur & remises en question</a>
                        </li>
                        <li>
                            <a href="{{ page('naufrage') }}">Économie d'un naufrage</a>
                        </li>
                        <li>
                            <a href="{{ page('odysseus') }}">Que l'odyssée suive son cours !</a>
                        </li>
                    </ol>
                </li>
                <li>
                    10 and d'Embobinage
                    <ul>
                        <li>
                            <a href="{{ page('posters') }}">10 Ans d'Affiches</a>
                        </li>
                        <li>
                            <a href="{{ page('editos') }}">10 Ans d'Editos</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

        <div class="col-md-4 col-md-pull-8">

            <div class="row">
                <div class="col-md-6 hidden-sm hidden-xs">
                    <img src="{{ asset('img/logo_big.png') }}" class="img-responsive center-block"/>
                </div>
                <div class="col-md-6">
                    <address>
                        <p>
                            <b>L'Embobineuse</b><br>
                            11 Bd Boués<br/>
                            13001 Marseille<br/>
                            FRANCE
                        </p>
                        <p>
                            <span class="glyphicon glyphicon-phone" aria-hidden="true" aria-label="Phone"></span>
                            <a href="tel:+33-4-91-50-66-09">+33 4 91 50 66 09</a>
                            <br/>
                            <span class="glyphicon glyphicon-envelope" aria-hidden="true" aria-label="Email"></span>
                            <a href="mailto:info@lembobineuse.biz">info@lembobineuse.biz</a>
                            <br/>
                            <span class="glyphicon glyphicon-home" aria-hidden="true" aria-label="Website"></span>
                            <a href="http://lembobineuse.biz">www.lembobineuse.biz</a><br/>
                        </p>
                    </address>
                </div>
            </div>

        </div>
    </div>

</footer>
