<!DOCTYPE html>
<!-- HTML5 Boilerplate -->
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"
<![endif]-->
<!--[if (IE 7)&!(IEMobile)]>
<html class="no-js lt-ie9 lt-ie8" lang="en"
<![endif]-->
<!--[if (IE 8)&!(IEMobile)]>
<html class="no-js lt-ie9" lang="en"
<![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="{{app.locale }}">
<!--<![endif]-->
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- http://t.co/dKP3o1e -->
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="cleartype" content="on">
    
    <title>Appel à dons | L'Embobineuse</title>

    <!-- Bootstrap CSS -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <!-- Optional theme -->
    <!--
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.2/cyborg/bootstrap.min.css">

    <!-- jQuery.fancybox -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css">

    {% if app['debug'] %}
        <link rel="stylesheet" href="{{ asset('css/main.css') }}">
    {% else %}
        <link rel="stylesheet" href="{{ asset('css/all.min.css') }}">
    {% endif %}

    <script>
        var Embobidon = {
            locale: '{{ app.locale }}',
            api: {
                stats: '{{ path("stats") }}'
            }
        };
    </script>
</head>
<body>

{% include 'nav.html.twig' %}
{% include 'header.html.twig' %}

<main class="container">

    {% block content %}
    {% endblock %}

</main>

{% include 'footer.html.twig' %}

<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<!-- Bootstrap Javascript -->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<!-- jQuery.fancybox -->
<script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/helpers/jquery.fancybox-media.js"></script>

{% if app['debug'] %}
    <script src="{{ asset('js/embobidon/image-wall.js') }}"></script>
    <script src="{{ asset('js/main.js') }}"></script>
{% else %}
    <script src="{{ asset('js/all.min.js') }}"></script>
{% endif %}


<!-- Analytics -->
<script src="//www.google-analytics.com/urchin.js"></script>
<script>
_uacct = "UA-180957-6";
urchinTracker();
</script>


</body>
</html>
