{% from 'macros.html.twig' import fancythumbs %}

<div class="page-header">
    <h1>
        L'Embobineuseが生き残るために、募金中
        <br/>
        <small>音楽的な抵抗のための軍資金！</small>
    </h1>
</div>
<div class="well well-lg">
    <div class="embed-responsive embed-responsive-16by9">
        <iframe width="853" height="480" class="embed-responsive-item center-block"
            src="https://www.youtube.com/embed/videoseries?list=PLH31KrysymqBveaBHCFucrTQu3WXLMUOZ"
            frameborder="0" allowfullscreen>
        </iframe>
    </div>
</div>

<article>
    <img src="{{ asset('img/pics/salle/salle-01.jpg') }}" class="img-responsive pull-right"
        alt="L'Embobineuse vue du dedans" style="max-width: 400px; width: 100%;"/>
    <p>
        <strong>
            2004年からマルセーユの真ん中にあるL'Embobineuseが元気のあるアーティストを温かくもてなしています。
        </strong>
        それはフランスの、そしてヨーロッパのどこからでもの元気で、世界中の元
        気なのです。このように、スポーツ・演芸場であるL'Embobineuseは今年開場十周年を迎えて 
        :十年間できるだけ正しく自分のやり方で続けて、経済的に大変な現実と妥協なく芸術的な提供の力でやりくりし続けます。
    </p>
    <p>
        <strong>十年間の戦いと生存。</strong>
        L'Embobineuseというのは、分類のできない、オリジナルで、激しいライブやショーなど、全部含めて８００のイベントです。
        ここ十年間の視聴覚の突入で、美学、懇親性と無限の実験の愛がぶつけ合う環境の中で、音楽家やグラフィックデザイナー、特定の型に収まらない詩人などの引き合わせでもあります。
    </p>
    <p>
        <strong>しかし特進した芝居と称されても、L'Embobineuseは贅沢なものではありません。</strong>
        現在年１８００００eの予算の中の６５％は自己投資で、5人の社員,40人の無償の援助者と４０００会員がいて、１５０のギャラ、８０の共同制作契約があって、その中で失敗したものもあります。
    </p>
    <a class="fancybox" href="http://vimeo.com/30441686">
        <img src="{{ asset('img/pics/perf/beton.jpg') }}" class="img-responsive pull-left"
            alt="L'Embobineuse vue du dedans" style="max-width: 300px; width: 100%;"/>
    </a>
    <p>
        <strong class="text-danger">十年間はプラス十年間で、マイナス４００００eです。</strong>
        十年間でちょっとしか赤字になってないイベントは重なって借金になっていて、船を沈める時限爆弾になってます。今の所では危険な道を進んでいて、過去の問題はL'Embobineuseの弔鐘を鳴らすことになるかも知れません。
    </p>
    <p>
        <strong>ですから当然に悲観的に、このままで続けていれば全部を失うと言えます。</strong>
        債務とその期限は短期的に私達の徳ある場所の永続性と存在を脅かして、積極的に参加しているチームのメンバーズも危険な状態にいます。
    </p>
    <p>
        <strong class="text-danger">2015年９月に再開できなくなる恐れがあって、</strong>
        シーズンの終わりまで持たなくて、もしかして春から閉店するほど、見込みが悪くなっています。ですから怪我だらけで追い詰められた今、大ピンチだと宣言して、よく考えれば１０歳で死ぬのは早いのではないでしょうか？
    </p>
    <p>
        そのため、あなたのご協力を求めています！
    </p>
    <p>
        <strong>
            徐々に死ぬのではなく、現実を超えるL'Embobineuseが万年を超えるには、ご協力下さい！
        </strong>
    </p>
</article>

<div class="donate-callout">
    <a class="btn btn-primary btn-lg btn-donate"
        href="{{ app['donate_url'] }}" target="_blank">
        Faire un don !
    </a>
</div>

<div class="well well-lg image-grid">

{{ fancythumbs([
    "concerts/concert_01",
    "concerts/concert_04",
    "concerts/concert_05",
    "concerts/concert_03",
    "concerts/concert_02",
    "posters/2008-12_art-et-terrorisme-4",
    "perf/masqueride-embob-13",
    "salle/salle-01"
]) }}

</div>

<article class="row">

    <div class="col-md-8 col-md-10">
        <p>
            « <strong>L'Embobineuseは</strong>
            熱烈な愛好家に支えられて、積極的な参加者と創設者に融資されている
            <strong>共同なイニシアチブで、</strong>
            私達の目的とやり方に賛成する人は誰でも参加できるチームです。
        </p>
        <p>
            その誕生と永続は、今まで一生懸命頑張って来たチームとア－ティスの交際網に基づいていました。
            ですが私達の守る芸術は、公共の施設に認めらるには美しくても不思議すぎて、商品としての価値も低いというまでもないので、
            <strong>これからその生死は、いとしい観客のあなたによるものです。</strong>
        </p>
        <p>
            <strong>
                国家の施設やスーパーマーケットの商品からできたものと違う文化が欲しければ、あなたも参加してください！
            </strong>
        </p>
        <p>
            L'Embobineuseは心が広いですが不安定なイニシアチブですから。
        </p>
        <p>
            十年間の間、毎年万難を排して、次の一年まで生き残ろうとしていますから。
        </p>
        <p>
            いつもあるこの不安定は精神と健康を崩していますから。
        </p>
        <p>
            <strong>
                このような状況の中で施設が生まれて根付くには、途轍もない運と信念が必要ですから。
            </strong>
        </p>
        <p>
            そして最後に、やることは皆のためにやりますから。
        </p>
        <p>
            <strong class="text-danger">あなたのご協力を求めています。</strong>
            そしてあなたと同様に、L'Embobineuseのように自己表現の場所が不可欠だと思ってくれる人達にも、状態を立て直すためにご協力を求めています。
        </p>
        <p>
            宜しくお願いします。 »
        </p>
        <p class="text-right">
            Les Embobinés, ２０１５年０１月２３日.
        </p>
    </div>
    <div class="col-md-4 hidden-sm hidden-xs">
        <img src="{{ asset('img/pics/posters/tetedemort.jpg') }}" class="img-responsive">
    </div>
</article>

{% include 'pager.html.twig' with {
    'next': {
        'url': page('historia/01-bateau-cool'),
        'title': "Història Bobinüs"
    },
} %}
