{% macro edito_pics(date, title) %}
<div class="col-md-6">
    <img class="img-responsive" src="{{ asset('img/editos/'~date~'_01.jpg') }}" alt="Edito: {{ title }}" />
    <img class="img-responsive" src="{{ asset('img/editos/'~date~'_02.jpg') }}" alt="Programme: {{ title }}" />
</div>
{% endmacro %}
{% from _self import edito_pics %}

<div class="page-header">
    <h1>
        {% trans %}menu.10ans.editos{% endtrans %}
    </h1>
</div>

<div class="panel-group" role="tablist" id="TOC-panel">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="collapseTOCheader">
            <h2 class="panel-title">
                <a class="" data-toggle="collapse" href="#collapseTOC" aria-expanded="true" aria-controls="collapseTOC">
                    {% trans %}editos.toc{% endtrans %}
                    <span class="caret"></span>
                </a>
            </h2>
        </div>
        <div aria-expanded="false" id="collapseTOC" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseTOCHeader">
            <div class="list-group">
                <a href="#edito-2006-11" class="list-group-item">2006 - Novembre</a>
                <a href="#edito-2007-01" class="list-group-item">2007 - Janvier</a>
                <a href="#edito-2007-03" class="list-group-item">2007 - Mars</a>
                <a href="#edito-2007-04" class="list-group-item">2007 - Avril</a>
                <a href="#edito-2009-02" class="list-group-item">2009 - Février /// Zombi Shalom U Akbar Zombi</a>
                <a href="#edito-2009-03" class="list-group-item">2009 - Mars /// Douceur Angevine</a>
                <a href="#edito-2009-05" class="list-group-item">2009 - Mai /// Ah !! Cher Public !</a>
                <a href="#edito-2010-03" class="list-group-item">2010 - Mars /// Communauté, Identité, Stabilité</a>
                <a href="#edito-2010-05" class="list-group-item">2010 - Mai</a>
                <a href="#edito-2010-11" class="list-group-item">2010 - Novembre /// Fugue en Rat Majeur</a>
            </div>
        </div>
    </div>
</div>

<article class="edito row" id="edito-2006-11">

    <h2 class="col-md-12">Novembre 2006</h2>
    <div class="col-md-6">
        <p>
            Nos ennemis doivent comprendre que nous sommes des fous imprévisibles
            détenteurs d’une incroyable force de frappe.
            Falsifications statistiques, bombardements stratégiques,
            embargos,destructions économiquements ciblées, dérèglements climatiques,
            exterminations raciales, les dommages collatéraux font hurler mon âme.
        </p>
        <p>
            Tout bénéfice symbolique dépasse l’entendement politique.
        </p>
        <p>
            Le dormeur doit se reveiller.
        </p>
        <p>
            L’Embobineuse vous invite dans une arène antique et post-moderne,
            un exutoire où le spectateur assassine par le rire
            la violence qui bouillonne en son corps cocotte-minute,
            son corps casse-croûte, son corps-Beyrouth.
            La violence est l’âme secrète du sacré.
            Seule la violence peut réguler la violence.
            A aucun moment la violence ne peut être négative par son excès,
            la violence ne peut être négative que par son manque de régularisation.
            Emettre des gaz abusifs avec ses orifices pour le petit déjeuner est un droit.
        </p>
        <p>
            Céder sa place aux vieux c’est comme sauver les baleines.
            J’ai l’impression des fois d’être une espèce de vache qu’on viole à la tombée de la nuit,
            et dont on abuse jusqu’au lever du jour.
            Or, la colère est une réalité formidable.
            Tuer en quantité, à la chaîne, contribuer efficacement au meurtre de tous,
            à distance, de façon discrète et sournoise, sans se salir,
            rendre la guerre moralement acceptable, propre, asseptisée,
            cela nous ne pouvons considérer que c’est du boudin, encore du boudin...
        </p>
        <p class="author">
            Anonyme
        </p>
    </div>
    {{ edito_pics('2006-11', 'Novembre 2006') }}

</article>

<article class="edito row" id="edito-2007-01">

    <h2 class="col-md-12">Janvier 2007</h2>
    <div class="col-md-6">
        <p>
            Nous vivons assiégés sur une terre pleine de bruit. 
        </p>
        <p>
            Oh mon Dieu, si tu crois encore à ta grande bonté, fais quelque chose pour nous !
            Je te jure que nous irons brûler deux cierges à Saint Kiès (inventeur des boules),
            et qu’à Notre Marie mère de ton fils nous léchouillerons l’oreille par laquelle ton Gabriel d’archange l’enfanta.
            Que ne fîtes vous pas en ouvrant ainsi la voie du ventre par celle du bruit !
            Oh, je ne t’accuse de rien, mais était-il bien raisonnable de donner soudain
            une importace matricielle au seul ogane qu’on ne puisse fermer ?
            Alors que jusque là, tu en conviendras, les femmes savaient très bien clore leur con.
        </p>
        <p>
            Oui, nos belles langues de chien caves soigneront très bien cette plaie que tu ouvris si
            maladroitement. Service pour service, exhausse nous !! Ferme leur gueule aux chanteurs alcooliques,
            aux politiciens en campagne, et à ma voisine.
        </p>
        <p>
            Ou encore bousille les réseaux de téléphones portables, fais sauter quelques satellites, tu
            verras, c’est aussi drôle que de jouer à la pétanque. Et puis, s’il te plaît, détruis les bagnoles, non,
            si ! surtout les moteurs à explosion et remplace les tous par de jolies bobines électriques, comme
            il sera doux alors de se faire faucher à 80 à l’heure sans rien entendre venir ! Et puis, surtout, tues
            tous les musiciens de France, de Navarre et d’ailleurs ! Ne fais pas de quartier ! A la première note
            tu les foudroies ! Tu as le droit que dis-je, l’Apocalypse, c’est ton boulot, tu as le devoir d’organiser
            le plus minutieux, le plus final, le plus impitoyable des génocides.
        </p>
        <p>
            Et puisqu’ils aiment tant l’electricité, n’hésite pas à leur envoyer un peu de gégène dans
            les couilles, qu’ils chantent enfin pour de vrai ! Oh que ce serait bon, petit Dieu de mon coeur, si
            nous pouvions ensemble les mettre dans des camps et leur apprendre le silence.
            «Le travail rend sourd», écrit au fronton...
        </p>
        <p>
            Et puis surtout tu détruiras l’Embobineuse, cet antre sordide où ils se pressent pour désaccorder
            leur diapason libertaire et se vautrer dans l’ignoble satisfaction d’avoir lâché un cri post-moderne !
            Fais, mon p’tit Dieudounet, que leur pets mixés-amplifiés à outrance leur remontent à la gueule et
            les asphyxient sur le champ.
        </p>
        <p>
            Et sur les décombres nous bâtirons l’autel du silence.
        </p>
        <p>
            Pour Noël, envoie nous Papa et entre deux babils de ton bébé, on posera des silences,
            comme les premières pierres d’une symphonie moderne...
        </p>
        <p>
            Et dans ces silences on respirera en se tenant la main, on se prendra dans les bras et on
            savourera notre bonheur. On écoutera se taire enfin ma voisine, les chanteurs alcooliques et les
            politiciens en campagne.
        </p>
        <p>
            Alors on réinventera la musique, on redressera les murs de l’Embobineuse, et on
            y installera des musiciens. Ils auront des oreilles, des voix, et plus de cris. Leur tripes ne leur
            sortiront plus par les micros car ils ne prendront plus de coup de pied au cul pour leur faire
            remonter dans la bouche. Les faiseurs de misère crèveront de fermer leur gueule et viendront se
            repentir à nos portes. Tu verras, mon Dieu, ça sera aussi beau que «La petite maison dans la prairie»
            où personne n’a le droit d’être méchant !
        </p>
        <p>
            Et Marie, l’oreille guérie, la tête bandée comme VanGogh, entendra de nouveau sans
            penser à mal, et viendra nous tailler des pipes pour nous rendre grâce de lui avoir fait retrouver une
            félicité perdue depuis 2006 ans !
        </p>
        <p class="author">
            Le Préfet
        </p>
    </div>
    {{ edito_pics('2007-01', 'Janvier 2007') }}

</article>

<article class="edito row" id="edito-2007-03">
    <h2 class="col-md-12">Mars 2007</h2>
    <div class="col-md-6">
        <p>
            Il y a derrière l’Embobineuse des forces monstrueuses qui n’apparaissent
            pas au grand jour du soleil marseillais. Il y a en ce lieu des puissances pouraves
            et démoniaques qui emplissent les pores de chacune des peaux neuves qui s’y
            aventurent, suintant un doux mélange de bière et
            autres substances (pipi de chat, caca de féfé, résidus de sons des entrailles
            de la terre, ... ?).
        </p>
        <p>
            Pourtant chaque fête se finit et alors le froid reprend ses droits comme
            pour dire que tout ceci n’est qu’un rêve où le cauchemard finalement l’emportera
            sur la réalité où il ne restera plus alors qu’à retourner au fond de sa couette en
            espérant qu’un candidat de gauche vienne encore nous vendre son rêve merdique,
            nous laissant espérer que demain sera toujours meilleur.
        </p>
        <p>
            La musique m’emmène dans un recoin de mon âme où je ne sais plus
            trop bien à quoi je me raccroche. Chaque musicien est un chamane qui s’ignore
            ou pas et qui en se mettant en contact avec les puissances occultes de l’univers
            me relie ou pas à mon passé astral depuis longtemps enfoui dans la sous-merde
            de la génération mitterand. Là est l’extraordinaire auquel on se s’attendait plus, le
            point d’équilibre sur lequel il s’agit de danser pour retrouver les rituels d’antant,
            un antant si lointain qu’aucun anthropologue n’arrive à le relater. Dans cet espace
            conçu pour un ailleur indéfini, le lien cosmique s’opère en balbutiant et ce qui
            gène c’est ce manque d’habitude, ce sentiment qu’on ne serait pas encore prêt
            pour l’accueillir.
        </p>
        <p>
            En ce lieu, chacun est libre de renouer avec notre passé commun, et de se
            rattacher à une hyperstructure dont le dénouement ne se résoud que dans la mise
            en relation à autrui. Dans la danse non assistée par le produit de l’industrie putride,
            où le corps oublie qu’on le regarde, une foultitude d’images m’apparaissent et
            semblent communiquer avec le message des autres danseurs. La musique nous
            emmène, expie nos doutes et fortifie nos puissances. Là est l’objet du désir. Du
            désir de l’empoisonneuse, cette bête immonde dans laquelle je m’embobine, je
            m’endoctrine, je m’empoisonne.
        </p>
        <p>
            Nos ennemis ne possèdent pas l’antidote.
        </p>
        <p>
            Nous possédons nos ennemis.
        </p>
        <p class="author">
            Rand’o.m.
        </p>
    </div>
    {{ edito_pics('2007-03', 'Mars 2007') }}

</article>

<article class="edito row" id="edito-2007-04">
    <h2 class="col-md-12">Avril 2007</h2>
    <h3 class="col-md-12">Autopsie d'un Vivant</h3>
    <div class="col-md-6">
        <p>
            La douleur n’est pas forcément une chose banale.
        </p>
        <p>
            Ou plutôt si.
        </p>
        <p>
            Heureusement chacun en fait l’expérience et voilà qui rend si proche.
            Qui nous rapproche du monde des vivants et nous rend si incompré-
            hensibles. La douleur est un noeud qui se rencontre une fois et ne se
            dénoue jamais. On se le pose face contre cul et on se
            l’observe une vie durant en faisant avec.
        </p>
        <p>
            On en devient si transparent, dernier des hommes et premier humain.
            Nature, biologie, maladie, mort, lutte contre tout ça et échec
            permanent. La douleur est un regret du temps où rien n’avait
            d’importance. La douleur c’est juste ignorer que rien n’a d’importance.
        </p>
        <p>
            On se dit «Plus jamais ça...» on se dit des conneries pour ne plus rien
            faire, plus rien faire qui puisse faire mal. Avec cette putain de douleur,
            on refuse d’être naïf. On agit sans naïveté, sans sincérité, alors, on ne
            touche ni le monde ni la vie, on ne fait que les effleurer... Conflits de
            trouille et le cul pincé on se condamne à ne jamais avoir tort, à ne ja-
            mais faire d’erreur, de mal, de bien... à ne jamais rien faire.
        </p>
        <p>
            La douleur chacun la connait et s’en sert pour mieux mentir, pour
            mieux ne pas agir. Allons tous nous faire foutre car tout a trop
            d’importance pour ne pas y toucher... même la merde.
        </p>
        <p>
            A l’Embobineuse nous exorcisons la douleur en la bouffant comme
            on bouffe nos poumons sanglants... Et c’est encore un mensonge, car
            lorsqu’on se frappe avec ces poumons,
            CA NE FAIT PAS MAL, c’est une caresse...
        </p>
        <p class="author">
            Le Véritable Préfet des Bouches-du-Rhône
        </p>
    </div>
    {{ edito_pics('2007-04', 'Avril 2007') }}

</article>

<article class="edito row" id="edito-2009-02">
    <h2 class="col-md-12">Février 2009</h2>
    <h3 class="col-md-12">ZOMBI SHALOM U AKBAR ZOMBI</h3>
    <div class="col-md-6">
        <p>
            Avoir chaud l’hiver - c’est ça être Heureux.
        </p>
        <p>
            Dans le désert - Mort de soif - Dieu c’est de l’eau.
        </p>
        <p>
            Ne dîtes pas : « La Bande de Gaza » mais dîtes :
            « La bande à gazer », ou bien « La bombe a rasé ... - Gaza ».
        </p>
        <p>
            Pour finir le monde nous tuerons nos enfants.
        </p>
        <p>
            Il y a ceux qui assument jusqu’à l’échec le refus d’exploiter l’autre.
            Et il y a les autres.
        </p>
        <p>
            J’ai fait un rêve. Un rêve horrible : Mon peuple avait péri. Avait péri ! Je me
            réveille en criant : - « PAIX ! ». On me répond : « Mais de quelle Paix tu parles
            TOI ? PAIX ??? Y’a personne qui s’appelle « PAIX » ICI, y’a que tes prouts
            DUCON et une belle CHAMBRE A PROUTS pour gazer les enculés de ta
            race - NO JUSTICE NO PEACE ! » Dit-on, me poussant sous la douche.
        </p>
        <p>
            Je ne rêve pas. Ce que j’ai rêvé est bien vrai. C’est bien arrivé. Mon
            peuple a péri dans la Fosse. Et maintenant mon peuple qui a péri dans la Fosse
            est revenu de la Fosse. Maintenant mon peuple pousse un autre peuple dans la
            Fosse. A la douche et la vie sera plus belle.
        </p>
        <p>
            Un jour comme un autre - je ne sais pas si je suis un homme mais je
            sais que je suis humain - des fachos me passent à tabac, les racailles rackettent
            mon portable, les banquiers grugent mon pognon, l’Etat sucre mes allocations,
            le dentiste me trouve 8 caries et m’annonce que je ne suis plus couvert par la
            CMU, le toubib me diagnostique les mêmes saloperies que d’habitude pour me
            prescrire la même dope que d’habitude, et pour finir des gauchistes me traitent
            de facho... Je vais bientôt m’apercevoir que j’ai mis mon slip sur la tête.
        </p>
        <p>
            Vive la crise : j’ai comme l’impression que l’univers me prépare une surprise.
            Joyeuses pâques Ducon ! Ah oui j’oubliais, j’ai aussi planté ma caisse. C’est ça
            oui, bonne santé. Je vais aller prendre une bonne douche bien chaude.
        </p>
        <p>
            Le Blues te fait sentir que tu es séparé du monde. Et aussi de toi
            même. C’est ainsi. Pas de tristesse. Surtout pas. On meurt tous. On souffre
            tous. On ira tous au Diable.
        </p>
        <p>
            AMEN.
        </p>
        <p class="author">
            FEYCAL BEN JIKKKOON 
        </p>
    </div>
    {{ edito_pics('2009-01', 'Février 2009') }}

</article>
<article class="edito row" id="edito-2009-03">
    <h2 class="col-md-12">Mars 2009</h2>
    <h3 class="col-md-12">Douceur Angevine</h3>
    <div class="col-md-6">
        <p>
            Dans la douce précarité d’un soleil d’hiver, sur une herbe mal
            rasée, je sentais ma colère descendre dans mes pieds. Les canards de
            barbarie ne disaient rien, seuls les jars condescendants gutturaient des
            cris quand on les provoquaient.
        </p>
        <p>
            J’avais fait la veille beaucoup de bruit. Et depuis quelques années
            j’avais hurlé des cris. Je suis allé les chercher jusqu’au ventre, pour
            extirper une colère vide, sans objet, sans larme.
            Mes dents sont noires, et à l’intérieur de mes lèvres la ligne rouge d’un
            mauvais vin fait de chacun de mes sourires une demande pathétique.
        </p>
        <p>
            Je n’ai rien à dire.
        </p>
        <p>
            Et ces cons de canards ne me répondraient pas.
        </p>
        <p>
            Je me suis mis à gratter les derniers cris dans le fond de ma
            gorge comme on expulse un chat. Il y a une partie de mon cerveau qui
            est morte, il paraît que la dégénérescence des neurones s’accélère en
            certaines circonstances. Alors, comme un cycliste dont le dérailleur
            est en rade, je continuerai sur un seul pignon, les côtes seront
            seulement plus difficiles.
        </p>
        <p>
            C’est la partie de la colère qui est tombée, elle a glissé de dessous mes
            cheveux, et en se faufilant dans mes groles je la vois glisser dans l’herbe.
            Encore deux pas et je ne la vois plus.
            Je souris à un âne qui refuse de m’aimer, nous n’avons pas encore fait
            connaissance.
        </p>
        <p>
            Ça va devenir difficile maintenant de faire du bruit. Tant mieux, j’en
            connais qui vont bien se reposer.
        </p>
        <p class="author">
            El veritablo prefecto del Paca 
        </p>
    </div>
    {{ edito_pics('2009-02', 'Mars 2009') }}
</article>
<article class="edito row" id="edito-2009-05">
    <h2 class="col-md-12">Mai 2009</h2>
    <h3 class="col-md-12">Ah !! Cher Public !</h3>
    <div class="col-md-6">
        <p>
            Merde,
        </p>
        <p>
            Je me suis fait traité d’Artiste.
        </p>
        <p>
            J’étais assis le long d’un mur près d’une porte, le cul sur mes talons façon caca
            dans les bois, le dos bien droit pour soigner ma scoliose, la clope au bec par réflexe.
            Et voilà qu’un quidam à casquette flanqué d’un scooter en panne m’interpelle du ton le
            plus vulgaire « Eh, t’es un Arrtiste, toa ! »
        </p>
        <p>
            Nous étions dans une ville de province devant l’entrée des artistes d’un théâtre fondé par
            Jack Lang et qui pouvait contenir la moitié de la population du bled.
            Mon sang ne fit qu’un tour et devant la grossièreté de l’insulte je restai coi, plus par
            lâcheté que par surprise.
        </p>
        <p>
            Cet épisode m’inspira une bordée de réflexions toutes sans intérêt mais qui piquèrent ma
            curiosité prompt à s’émouvoir de moi-même :
        </p>
        <ul>
            <li>
                <p>
                    Premieremo, pourquoi se fait-il que le mépris que je voue aux artistes se
                    rencontre si couramment chez les populations imbéciles ? Y a-t-il un rapport de
                    cause à effet et dans ce cas dois-je me poser des questions ?
                </p>
            </li>
            <li>
                <p>
                    Secondo, je la fis sous forme de maxime, en pensant au dernier spectacle que
                    j’avais vu, (je me cite) : « L’art ankylose le poignet. Une bonne branlette et il n’y paraîtra
                    plus. Le monde aura alors échappé à deux choses inutiles : votre enfant et votre oeuvre.»
                </p>
            </li>
            <li>
                <p>
                    Troisiemo : « Le commerce des abrutis est un marché à pertes ajoutées : ils
                    commencent par vous faire perdre du temps et finissent inévitablement par vous taper
                    cent balles. Car la bêtise reste encore le plus sûr moyen d’être pauvre. Il peut cependant
                    arriver de commercer avec un génie sans le sou, certes, vous finirez par lui donner cent
                    balles, mais considérant la pauvreté de votre esprit, vous pourrez vous vanter qu’il vous
                    a fréquenté sur un pied d’égalité. »<br/>
                    Considérant bien sûr que je n’avais certes pas un rond mais que, loin d’être un
                    artiste, j’étais un génie. 
                </p>
            </li>
            <li>
                <p>
                    Ce qui m’amena naturellement au quatriemo (et dernio) :
                    « Il y a tant de choses sans intérêt dans le monde qu’on ne finit par ne s’intéresser qu’à
                    soi. Qui est généralement la chose la moins intéressante du monde puisqu’on la connaît
                    déjà. Ce qui me fait croire que ne s’intéresser à rien reste la seule façon d’attendre la mort
                    sans trop perdre son temps. »
                </p>
            </li>
        </ul>    
        <p>
            J’en conclus donc aussitôt que l’artiste n’est rien d’autre que monsieur tout le monde,
            c’est à dire un égocentrique forcené, tête de gondole d’une société où l’instinct de la
            possession a depuis longtemps dépassé l’instinct de survie. Et si on a envie de lui tailler
            des pipes, c’est bien parce qu’il nous rend notre égoïsme bien sympathique... quand on
            est sur les bancs publics évidemment.
        </p>
        <p class="author">Le Préfet</p>
    </div>
    {{ edito_pics('2009-04', 'Mai 2009') }}
</article>
<article class="edito row" id="edito-2010-03">
    <h2 class="col-md-12">Mars 2010</h2>
    <h3 class="col-md-12">Communauté - Identité - Stabilité</h3>
    <div class="col-md-6">
        <p>
            « On pourrait croire en jetant un coup d’oeil rapide sur l’état du monde actuel
            que les entités qui le gouvernent sont devenues folles. On peut aussi croire que ce Monde
            Immonde est le résultat de forces inconscientes multiples et irresponsables. Dans ce cas
            de figure, s’il y a quelque chose d’inconscient dans ce monde, ce sont ses cadavres
            innombrables, ses victimes prépubères et pour ce qui est de l’irresponsabilité, ses
            serviteurs volontaires.
        </p>
        <p>
            Les gens qui gouvernent notre monde peuvent bien ne pas être sains d’Esprit
            (au sens Humain de ce mot) ; mais ce ne sont pas des fous - et je doute qu’ils soient
            encore Humains (au sens Absolu du mot). Leur but n’est ni le Profit, ni la Destruction
            Universelle, mais bien la Stabilité Sociale pour le Bien de Tous – enfin pour ceux qui
            auront été Sélectionnés. Les Prédateurs de la Conscience savent très bien ce qu’ils font.
            Les élites regardent la société avec une froide objectivité et absolument sans aucune sorte
            d’Empathie. S’il doit y avoir dans les années qui courrent à notre rencontre un Grand
            Effondrement Economique ou une Catastrophe Sociale Généralisée, ces évènements ne
            seront que des moyens prévus et utilisés pour parvenir à la Fin de l’Histoire, c’est à dire
            l’Ultime Stabilité.
        </p>
        <p>
            Tous les chemins actuels mènent au Désastre et ces chemins sont les fruits de
            stratégies délibérées et précisément élaborées. L’Histoire est un Laboratoire où les
            actions et réactions psychologiques, économiques, sociales des peuples et des
            individus, sont mesurées, calibrées et désormais paramétrées par de super
            calculateurs électroniques. Il n’y a bien entendu aucune raison pour que les
            techniques d’asservissement nouvelles ressemblent aux anciennes.
        </p>
        <p>
            Contraindre les peuples à l’esclavage au moyens de triques et de pelotons d’exé-
            cution est aujourd’hui dépassé. Le but de tout bon conditionnement est de faire aimer aux
            gens la destination sociale à laquelle ils ne peuvent échapper. Les Armes Silencieuses
            qui renforcent le Statu Quo Pyramidal tirent des situations et non des balles, à partir d’un
            ordinateur au lieu d’un fusil, manipulées par un programmeur au lieu d’un tireur d’élite,
            sous les ordres d’un banquier et non d’un général d’armée.
        </p>
        <p>
            Ces Armes Silencieuses ne produisent pas de dommages physiques ou mentaux
            évidents, mais elles attaquent la vitalité et divisent les individus d’une société en
            manipulant leurs forces et faiblesses physiques, mentales, émotionnelles. La
            guerre qui est maintenant menée sur tous les plans de l’existence contre l’Humanité est
            une Guerre Tranquille, interférant de façon subtile avec la vie quotidienne de tous (...) La
            Gauche et la Droite sont les deux jambes d’un même système marchant vers un Monde
            Meilleur (...) Cheville ronde dans un trou carré, peu importe pour qui tu votes, la Mort
            Eternelle est au fond des urnes (...) »
        </p>
        <p class="author">
           Aldix Ji-Koon Fulous,
           in « Utérus artificiels & dépendances politiques dans la 3° densité », 1931. 
        </p>
    </div>
    {{ edito_pics('2010-02', 'Mars 2010') }}
</article>
<article class="edito row" id="edito-2010-05">
    <h2 class="col-md-12">Mai 2010</h2>
    <div class="col-md-6">
        <p>
            Putaing je t’ai découvert une genre de discothèque mais pas dégaine
            style plutôt skinfus metal rock là tu vois ?
        </p>
        <p>
            Que sa s’appelle l’Engatsineuse je crois ou je sais pas un truc rapport à
            tourner gobi !
        </p>
        <p>
            ‘Tention l’équipe de stronzi que c’est hein ! Des Chapaclans je te dit... je me
            suis empégué là bas, mais bien hein, et eux qui s’y bossent y zont un peu des
            faces d’anchois mais y sont pour de bon franchement calu...
            Y’en a un grand fadoli , Felisque y s’appelle lui tu le rateras pas ... c’est un
            diable c’est ...
        </p>
        <p>
            Tu paye la moitié de d’habitude et t’ya trois concerts par contre c’est souvent
            de la musique que tu savais même pas ça existait,
            y t’on mis le cd dans le mixer avé le chat on dirait...
            Tu sais les sons la euh effélarsouille je crois...
            que des fois quand même c’est bien ...
        </p>
        <p>
            Non mais il leur manque un trimestre mais y sont pas méchants.
        </p>
        <p>
            Ou c’est ?... Ben tu vois le ED National ?
            Tu tournes là et aprés quand t’ié à Rayan Mentation c’est par là tu
            demandes ...
        </p>
        <p>
            Non serieux c’est esseptionel tu peut prendre le tha en t’escagasant surles
            canapés et la déco mon vié !
        </p>
        <p>
            Les pauvres peuchére...
        </p>
        <p>
            Moi tout façon j’aime bien les jeunes et leur associations au quartier c’est
            bien voila c’est bien qui ai des gens qui le fassent, oila.
            En plus y zont un dehors et y va faire le beau temps alors tu fais pas le tapin
            et tu viens à l’Emboucaneuse !
        </p>
        <p>
            Manière que la belle fête de mai ça continue d’être pour nous les tapés de
            la tête!
        </p>
        <p class="author">
            JP à côté le PMU 
        </p>
    </div>
    {{ edito_pics('2010-04', 'Mai 2010') }}
</article>
<article class="edito row" id="edito-2010-11">
    <h2 class="col-md-12">Novembre 2010</h2>
    <h3 class="col-md-12">Fugue en Rat Majeur</h3>
    <div class="col-md-6">
        <p>
            Dans l’impasse de son coeur de marbre, l’Histoire fonce et les
            flèches des mégalopoles s’élèvent, vomissant des artères de goudron,
            remplaçant l’humus par l’asphalte, la voix lactée par des lampadaires,
            l’horizon par des cages de verre et d’acier, les chansons populaires par des
            slogans publicitaires...
        </p>
        <p>
            Marche ou crève, faut garder le rythme, attacher les ceintures,
            s’adapter aux injonctions des flics, prier pour ne pas être exclu de la fête...
        </p>
        <p>
            L’Histoire est en route et ses grands pieds se foutent des p’tites gens,
            il y a les boss de la rapace qui sucent pour monter jusqu’au top et la foule
            innombrable des domestiques...
        </p>
        <p>
            Marche ou crève p’tite termite, la route est rude, semée de panneaux
            signalétiques apportant un peu plus de parasites dans la confusion générée,
            faisant hurler nos cellules saturées comme des aborigènes dans une tempête
            économique...
        </p>
        <p>
            Marche ou crève, p’tite termite la route est longue et l’exode
            permanent,... mais dans les marges abandonnées par les courants dominants
            coulent des ruisseaux de traverse, irriguant quelques secrètes oasis d’eau
            fraîche aux vergers couverts de fruits gorgés d’espoir et d’hospitalité...
        </p>
        <p>
            Dans les fossés délaissés par l’Empire et ses codecs, des êtres
            anachroniques dansent sur l’ossuaire, célébrant l’immonde limon fertile,
            repoussant les frontières de l’ordre imposé, dans de pauvres pirogues ils
            remontent les caniveaux et ré-écrivent l’Histoire avec le bâillon des
            victimes...
        </p>
        <p>
            Et dans leurs gestes les formules archaïques se mêlent aux visions
            magiques, les chants qui bondissent de leurs tripes sont comme le sang
            des compagnons assassinés par la route, chevaux de feu liquide revenus se
            venger de l’absurde et crier leur soif de sens, ils tirent un carrosse vibrant
            d’allégresse malgré les larmes sèches qui labourent les faciès, toujours plus
            souples, toujours plus résistants, parce que les coups portés sur nos corps ne
            font qu’épaissir notre corne et resserrer nos rangs...
        </p>
        <p class="author">
            Fujikkkoon //// Burlaud 
        </p>
    </div>
    {{ edito_pics('2010-11', 'Novembre 2010') }}
</article>

{% include 'pager.html.twig' with {
    'prev': {
        'url': page('historia/04-odyssey-continues'),
        'title': "menu.10ans.affiches"
    },
    'next': {
        'url': page('supporters'),
        'title': "menu.donators"
    },
} %}
