<footer class="container-fluid" id="footer" role="contentinfo">

    <div class="row">

        <div class="col-md-4 col-md-push-4">
            <p>
                <strong>
                    {% trans %}footer.title{% endtrans %}
                </strong>
            </p>
            <p>
                <a href="{{ app['donate_url'] }}" target="_blank"
                    class="btn btn-primary btn-donate" style="width: 100%">
                    {% trans %}footer.button.donate{% endtrans %}
                </a>
            </p>
            <p>
                <strong>
                    {% trans %}footer.share.title{% endtrans %}
                </strong>
            </p>
            <p class="btn-group btn-group-justified">
                <a class="btn btn-social btn-facebook" href="https://www.facebook.com/sharer/sharer.php?u=http://lembobineuse.biz/don" target="_blank">
                    Facebook
                </a>
                <a class="btn btn-social btn-twitter" href="https://twitter.com/home?status=L'Embobineuse,%20pilier%20de%20la%20patate,%20sollicite%20vos%20dons%20pour%20ne%20pas%20perdre%20la%20frite%20!%0Ahttp://lembobineuse.biz/don" target="_blank">
                    Twitter
                </a>
                <a class="btn btn-social btn-linkedin" href="https://www.linkedin.com/shareArticle?mini=true&url=http://lembobineuse.biz/don&title=L'Embobineuse,%20pilier%20de%20la%20patate,%20sollicite%20vos%20dons%20pour%20ne%20pas%20perdre%20la%20frite%20!" target="_blank">
                    LinkedIn
                </a>
                <a class="btn btn-social btn-google-plus" href="https://plus.google.com/share?url=http://lembobineuse.biz/don" target="_blank">
                    Google +
                </a>
            </p>
            <p>
                <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                {% trans %}campaign.impots.infos{% endtrans %}
                <a href="http://vosdroits.service-public.fr/particuliers/F426.xhtml" target="_blank">
                    {% trans %}campaign.impots.link.title{% endtrans %}
                </a>
            </p>
        </div>

        <div class="col-md-4 col-md-push-4">
            {% trans %}sitemap.title{% endtrans %}
            <ul>
                <li>
                    <a href="{{ page('donum-apello') }}">Dōnum Apello</a>
                </li>
                <li>
                    Història Bobinüs
                    <ul>
                        <li>
                            <a href="{{ page('historia/01-bateau-cool') }}">
                                {% trans %}menu.historique.chap_1{% endtrans %}
                            </a>
                        </li>
                        <li>
                            <a href="{{ page('historia/02-errorism') }}">
                                {% trans %}menu.historique.chap_2{% endtrans %}
                            </a>
                        </li>
                        <li>
                            <a href="{{ page('historia/03-naufrage') }}">
                                {% trans %}menu.historique.chap_3{% endtrans %}
                            </a>
                        </li>
                        <li>
                            <a href="{{ page('historia/04-odyssey-continues') }}">
                                {% trans %}menu.historique.chap_4{% endtrans %}
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    Decennium Bobinum
                    <ul>
                        <li>
                            <a href="{{ page('decennium/posters') }}">
                                {% trans %}menu.10ans.affiches{% endtrans %}
                            </a>
                        </li>
                        <li>
                            <a href="{{ page('decennium/editos') }}">
                                {% trans %}menu.10ans.editos{% endtrans %}
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

        <div class="col-md-4 col-md-pull-8">

            <div class="row">
                <div class="col-md-6 hidden-sm hidden-xs">
                    <img src="{{ asset('img/logo_big.png') }}" class="img-responsive center-block"/>
                </div>
                <div class="col-md-6">
                    <address>
                        <p>
                            <b>L'Embobineuse</b><br>
                            11 Bd Boués<br/>
                            13001 Marseille<br/>
                            FRANCE
                        </p>
                        <p>
                            <span class="glyphicon glyphicon-phone" aria-hidden="true" aria-label="Phone"></span>
                            <a href="tel:+33-4-91-50-66-09">+33 4 91 50 66 09</a>
                            <br/>
                            <span class="glyphicon glyphicon-envelope" aria-hidden="true" aria-label="Email"></span>
                            <a href="mailto:info@lembobineuse.biz">info@lembobineuse.biz</a>
                            <br/>
                            <span class="glyphicon glyphicon-home" aria-hidden="true" aria-label="Website"></span>
                            <a href="http://lembobineuse.biz">www.lembobineuse.biz</a><br/>
                        </p>
                    </address>
                </div>
            </div>

        </div>
    </div>

</footer>
