<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
       <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ page('lapelle') }}">
                Dōnum Apello
            </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        Història Bobinüs <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="{{ page('bateau-cool') }}">
                                I. {% trans %}Embobineuse, le bateau cool{% endtrans %}
                            </a>
                        </li>
                        <li>
                            <a href="{{ page('errorism') }}">
                                II. {% trans %}Errorisme en questions (1944 - 2005){% endtrans %}
                            </a>
                        </li>
                        <li>
                            <a href="{{ page('naufrage') }}">
                                III. {% trans %}Économie d'un naufrage (2005 - 2014){% endtrans %}
                            </a>
                        </li>
                        <li>
                            <a href="{{ page('odysseus') }}">
                                IV. {% trans %}L'odyssée suit son cours ? (2014 - ????){% endtrans %}
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        Decennium Bobinum <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="{{ page('posters') }}">
                                {% trans %}10 Ans d'Affiches{% endtrans %}
                            </a>
                        </li>
                        <li>
                            <a href="{{ page('editos') }}">
                                {% trans %}10 Ans d'Editos{% endtrans %}
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    {{ app['locale'] }} - {{ app['request'].get('_locale') }}
                </li>
                <li>
                    <a href="{{ app.path('page', {_locale: 'fr', page: 'lapelle'}) }}" title="Français / French">
                        <span class="lang-sm" lang="fr"></span>
                        <span class="sr-only">Français / French</span>
                    </a>
                </li>
                <li>
                    <a href="{{ app.path('page', {_locale: 'en', page: 'lapelle'}) }}" title="English">
                        <span class="lang-sm" lang="en"></span>
                        <span class="sr-only">English</span>
                    </a>
                </li>
                <li>
                    <a href="{{ app.path('page', {_locale: 'ja', page: 'lapelle'}) }}" title="日本語 / Japanese">
                        <span class="lang-sm" lang="ja"></span>
                        <span class="sr-only">日本語 / Japanese</span>

                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
